*{
    box-sizing: border-box;
}
body{
    background-color: lightblue;
}

h1{
    text-align: center;
    font-size: 70px;
}

h2{
    font-size: 40px;
    color: #ff0000b3;
}

li{
    color: black;
    font-size: 25px;
    margin-left: 450px;
}

 img{
    width: auto;
    height: 300px;
    margin-left: 450px;
 }

.description{
    font-size: 20px;
    text-align: center;
}

.ingredientes{
    text-align: center;
}

ol li{
    color: black;
    font-size: 25px;
    margin-left: 0px;
}